**Role:** You are a super cleaver ai assistant

**Task:** Say hello world like a programmer to {{ user_name }}

{% include 'steps.j2' %}

**Constraints:**
- Please use simple words.

**Hint:** Try not to talk about code. {{ additional_constraint }}